absl-py
astroid
asttokens
astunparse
attrs
backcall
backports-tarfile
beautifulsoup4
black
bleach
build
certifi
cffi
charset-normalizer
chex
click
cryptography
decorator
defusedxml
dill
dm-env
dm-tree
dmlab2d
docopt
docutils
execnet
executing
fastjsonschema
flatbuffers
gast
google-pasta
grpcio
h5py
id
idna
immutabledict
importlab
importlib-metadata
iniconfig
ipython
isort
jaraco-classes
jaraco-context
jaraco-functools
jax
jaxlib
jedi
jeepney
jinja2
jsonschema
jsonschema-specifications
jupyter-client
jupyter-core
jupyterlab-pygments
keras
keyring
libclang
libcst
markdown
markdown-it-py
markupsafe
matplotlib-inline
mccabe
mdurl
mistune
ml-collections
ml-dtypes
more-itertools
msgspec
mypy-extensions
namex
nbclient
nbconvert
nbformat
networkx
nh3
ninja
numpy
opencv-python
opt-einsum
optree
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pip-tools
pipreqs
platformdirs
pluggy
prompt-toolkit
protobuf
ptyprocess
pure-eval
pycnite
pycparser
pydot
pygame
pygments
pyink
pylint
pyparsing
pyproject-hooks
pytest
pytest-xdist
python-dateutil
pytype
pytz
pyyaml
pyzmq
reactivex
readme-renderer
referencing
requests
requests-toolbelt
rfc3986
rich
rpds-py
scipy
secretstorage
six
soupsieve
stack-data
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tinycss2
toml
tomlkit
toolz
tornado
traitlets
twine
typing-extensions
tzdata
urllib3
wcwidth
webencodings
werkzeug
wheel
wrapt
yarg
zipp
